<!DOCTYPE html>
<html lang="en-AU">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{site.url}}/style/post.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{ page.style }}
</head>
<body>
  <header class="post-header" style="background-image: url('{{page.img | absolute_url}}');">
    <div class="post-cap">
      <!-- <h1>{{page.title}}</h1> -->
      <h1>Lorem ipsum dolor sit amet</h1>
      <h2><time datetime="{{page.date}}">{{page.date | date: "%d %b %Y"}}</time></h2>
    </div>
  </header>
  <a class="nav-back" href="{{ site.url }}">
    <span class="material-icons">arrow_back</span>home
  </a>
  {{ content }}
</body>

</html>